<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcIdEbPXR5vZ-D6WEkFqpUiqt3mu8OSQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>975155858919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auralink.auralink</string>
	<key>PROJECT_ID</key>
	<string>auralink-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>auralink-capstone.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975155858919:ios:5aed60dcb7609310d30142</string>
</dict>
</plist>